
import from consul_service_store do
  redis = 'redis'
end

with redis:: do
  service_id   = redis.ServiceID
  address      = redis.Address
  service_tags = redis.ServiceTags
  node         = redis.Node
  service_name = redis.ServiceName
  service_port = redis.ServicePort
end


import from consul_value_store do
  foo = 'foo'
end
